dist: trusty
sudo: false
language: python
python:
- '3.6'
cache:
  pip: true
deploy:
- provider: releases
  api_key: "$GITHUB_TOKEN"
  file_glob: true
  file: "$TRAVIS_BUILD_DIR/bundles/*"
  skip_cleanup: true
  overwrite: true
  on:
    tags: true
- provider: pypi
  user: adafruit-travis
  on:
    tags: true
  password:
    secure: ZKJwRfyZaLluMqius93GaEIHUVbQbk6fZ9NF/yFUJO7miTd2rgEjG611LupE64HqIEQRbWd9KwwGTzDQ7q7yxq4LiMJDi0/btqfvT2aAbo9tzTyTVkg1QFoOf/OaRw01h80i7FDxf4yfr1cVi2hq7QKSihkB4PXnLCJjuJMQ64Uz8zSpZ2KSjoMEb87RccCp+NIefq58s6dHgVP58GT/T+YFgh5RlBVvjHXvbG7VvNqqQeLz8AefPx04O3mbCBSlifCli6hDlU6bYcsxLPsjBrNG36b3EcisY6QX59KapaBx35iBx/KkNlKbv13xOIn5DI7vNiErsZ/T53c5li64GhF2bJT7e0Bf2gwjTSNMZ0ZWbqR/PGUfT+tAINA8wAHaKwLK71esEb75LkDtp6YAFt5JmjD3BFJT8Fn834o1hjk+hbYwptTL8Q6+2TqStQ6mwTy3BccyUYW9s10KwPgN/BhBJk7dC6UGwNUKxd11vzK7kGfy0D87wwQg/eGiV3bPtAKJI+7jSzFUjihGUOcbz3uxCaMtgxFUPJha2ViKPG6SXn1I5iW2iokm9Ot4mxmFouMiRrirDEGzppseiHO3ryb/yKkCllEb0kx3Mcos/nfujO+nD9+DAuzrnNzlIbcwDJ4noVZrnX3Fe8RS8oII/sGW3XXEzp0jBXaSpsourN8=
install:
- pip install circuitpython-build-tools Sphinx sphinx-rtd-theme
- pip install --force-reinstall pylint==1.9.2
script:
- pylint adafruit_tca9548a.py
- ([[ ! -d "examples" ]] || pylint --disable=missing-docstring,invalid-name,bad-whitespace
  examples/*.py)
- circuitpython-build-bundles --filename_prefix adafruit-circuitpython-tca9548a --library_location
  .
- cd docs && sphinx-build -E -W -b html . _build/html
